<!doctype html>
  <html lang="en">

  <head>
    <title>faceID.js - iOS-like Face ID authentication on the Web</title>
    <!-- Meta tags -->
    <meta charset="utf-8">
    <link rel="shortcut icon" type="image/png" href="../images/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="faceID.js - iOS-like Face ID authentication on the Web">
    <meta name="keywords" content="HTML5, AI, artificial intelligence, machine learning, recognition, face ID">

    <!-- Font -->
    <link rel="dns-prefetch" href="//fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500" rel="stylesheet">

    <!-- 3rd party CSS -->
    <link rel="stylesheet" href="https://icono-49d6.kxcdn.com/icono.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.0/animate.min.css">

    <!-- Main css -->
    <link href="../css/style.css" rel="stylesheet">
  </head>

  <body id="body" data-spy="scroll" data-target="#navbar" data-offset="30">

    <!-- NAV -->
    <div class="nav-menu menu-is-open fixed-top is-scrolling">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <nav class="navbar navbar-dark navbar-expand-lg">
              <a class="navbar-brand" href="../index.html"><img src="../images/logo.png" class="img-fluid" alt="logo"></a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar"
                aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation"> <span
                  class="navbar-toggler-icon"></span> </button>
              <div class="collapse menu-is-open navbar-collapse" id="navbar">
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item"> <a class="nav-link" href="../index.html">HOME <span
                        class="sr-only">(current)</span></a> </li>
                  <li class="nav-item"> <a class="nav-link" href="./demo.html">DEMO 
                    <span class="sr-only">(current)</span></a> </li>
                  <li class="nav-item"> <a class="nav-link" href="https://github.com/gusgad/faceID.js"
                      target="_blank">GITHUB</a> </li>
                </ul>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>

    <div class="camera-window">
      <div id="my_camera"></div>
      <a id="take-snapshot" class="btn btn-primary" role="button" aria-pressed="true">Find my login username</a>
      <a class="btn btn-primary reload" role="button" aria-pressed="true">Try again</a>
      <div id="my_result"></div>
    </div>

    <!-- PROCESSING -->
    <div class="section pt-0" id="processing">
      <div class="container">
        <div class="section-title">
          <h3>Processing</h3>
        </div>
        <div class="row pt-4">
          
          <div class="loader">Loading...</div>
        </div>
      </div>
    </div>
    <!-- END -- PROCESSING -->
    <img id="bestMatch" src="">

    <!-- SUCCESS -->
    <div class="section pt-0" id="your-username">
      <div class="container" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
        <div class="section-title">
          <h3 id="your-username-header">Your username is found,</h3>
          <h3 id="your-username-text"></h3>
        </div>
        <p id="your-username-undertext" style="text-align: center" class="light-font mb-1">You can now use it with your password in order to log in.</p>
        <p style="text-align: center" class="light-font mb-1">or just</p>
        <a class="btn btn-primary reload" role="button" aria-pressed="true">Try again</a>
      </div>
    </div>
    <!-- END -- PROCESSING -->

    <footer class="my-5 text-center">
      <!-- Copyright removal is not prohibited! -->
      <p class="mb-2"><small>ALL RIGHTS RESERVED. MOBAPP TEMPLATE BY <a
            href="https://colorlib.com">COLORLIB</a></small></p>
    </footer>

    <!-- jQuery and Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/ssim.js@3.0.0/dist/ssim.web.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/webcamjs/1.0.25/webcam.min.js"></script>
    <script src="../js/simi.js"></script>
    <script src="https://unpkg.com/ssim.js@3.0.0/dist/ssim.web.js"></script>
    <script src="../js/face-api.min.js"></script>
    <!-- Custom JS -->
    <script src="../js/script-login.js"></script>
  </body>

</html>